.scrollOverflow {
  overflow-x: scroll;
  margin-bottom: 5rem;
}

.table {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--neutral-1);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  min-width: 650px;
}

.tableHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--neutral-1);

  padding: 1.25rem 1.875rem;
  gap: 2rem;
}

.col {
  flex: 1 1 0;
}

.actionHeading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.thirdCol {
  flex: 0 0 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconHelp {
  cursor: pointer;
}
