.container {
  overflow: hidden;
  padding: 0.875rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  border: 1px solid rgba($color: #000000, $alpha: 0.4);
  border-radius: 1.25rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  :hover {
    cursor: pointer;
  }
}

.cardHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.companyImage {
  display: flex;
  width: 75px;
  height: 75px;
  background-color: var(--primary-color);
  border-radius: 1.25rem;

  padding: 0.2rem;
  font-size: 0.7rem;
}

.companyImageFallback {
  display: flex;
  width: 75px;
  height: 75px;
  background-color: var(--primary-color);
  border-radius: 1.25rem;
  align-items: center;
  justify-content: center;

  padding: 0.2rem;
  font-size: 2rem; /* Adjust text size */
  font-weight: bold;
  text-transform: uppercase; /* Optional: make initials uppercase */
}

.nameAndLocation {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.companyName {
  font-size: 18px;
  transition-property: all;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.companyLocation {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.25rem;
}

.locationIcon {
  display: block;
  flex-shrink: 0;
  width: 18px;
  aspect-ratio: 1/1;
}

.location {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.cardBody {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviews {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 0.5rem;
}

.starIcon {
  width: 18px;
  aspect-ratio: 1/1;
  color: var(--primary-color);
}

.jobsSection {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
