.chip {
  background-color: var(--black);
  font-size: 0.7rem;
  flex-shrink: 1;
  padding: 0.5rem 0.8rem;
  color: var(--white);
  border-radius: 100px;

  :hover {
    background-color: var(--black);
    color: var(--white);
  }
}
