.successMessage {
  display: flex;
  align-items: center;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  margin-top: 10px 0;
  font-size: 14px;
  padding: 10px;
}

.successIcon {
  margin-right: 8px;
  color: #155724;
}
