.errorMessage {
  display: flex;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 12px;
  margin: 10px auto;
  font-size: 14px;
  max-width: 64rem;
  font-family: "Roboto", sans-serif;
}

.errorIcon {
  margin-right: 8px;
  color: #721c24;
}
