.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sectionHeading {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  h3 {
    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 0.75rem;
  }

  @media (max-width: 480px) {
    margin-bottom: 0.5rem;
  }
}

.industryContainer {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.locationGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.headingEditButton {
  display: flex;
  align-items: center;
}

.addLocationButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 0.8rem;

  padding: 0.5rem 1rem;
  padding-left: 0.75rem;
  border-radius: 10px;

  p {
    line-height: 0.8;
  }
}

.locationItem {
  background-color: var(--neutral-1);
  padding: 1.75rem;
  padding-right: 2.25rem;

  border-radius: 0.5rem;

  position: relative;

  &:hover .editButton,
  &:hover .deleteButton {
    opacity: 1;
    visibility: visible;
  }

  .deleteButton {
    position: absolute;
    top: 50%;
    right: 0.5rem;

    transition: none;

    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }
}

.textareaDesc {
  width: 100%;
  padding: 0.25rem;
  resize: vertical;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.saveAndCancelButtons {
  display: flex;
  gap: 0.5rem;
}

.iconEdit {
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  color: var(--white);
}

.inputText {
  display: block;
  width: 100%;
  padding: 0.25rem;
}

/* Medium screens (2 columns) */
@media (max-width: 768px) {
  .locationGrid {
    grid-template-columns: 1fr;
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  @media (max-width: 638px) {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    gap: 1rem;
    align-items: flex-start;
  }
}

.editButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.825rem 1.15rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--blue-8);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.companyDescription {
  white-space: pre-wrap;
  word-wrap: break-word;
}
