.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.sectionHeading {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.locationGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.headingEditButton {
  display: flex;
  align-items: center;
}

.addLocationButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 0.8rem;

  padding: 0.5rem 1rem;
  padding-left: 0.75rem;
  border-radius: 99px;

  p {
    line-height: 0.8;
  }
}

.locationItem {
  background-color: var(--neutral-1);
  padding: 1.75rem;
  padding-right: 2.25rem;

  border-radius: 0.5rem;

  position: relative;

  &:hover .editButton,
  &:hover .deleteButton {
    opacity: 1;
    visibility: visible;
  }

  .editButton {
    position: absolute;
    bottom: 50%;
    right: 0.5rem;

    transition: none;

    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }

  .deleteButton {
    position: absolute;
    top: 50%;
    right: 0.5rem;

    transition: none;

    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }
}

.textareaDesc {
  width: 100%;
  resize: vertical;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 99px;
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 99px;
}

.saveAndCancelButtons {
  display: flex;
  gap: 0.25rem;
}

.inputText {
  display: block;
  width: 100%;
}

/* Medium screens (2 columns) */
@media (max-width: 768px) {
  .locationGrid {
    grid-template-columns: 1fr;
  }
}

.errorMessage {
  display: flex;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  padding: 12px;
  margin: 10px 0;
  font-size: 14px;
}

.errorIcon {
  margin-right: 8px;
  color: #721c24;
}
