.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-weight: bold;
  }

  @media (max-width: 638px) {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
    gap: 1rem;
    align-items: flex-start;
  }
}
