.paddedContainer {
  padding: 0rem 0rem;

  @media (max-width: 1024px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 480px) {
    margin-bottom: 0rem;
  }
}

.styledBox {
  padding: 0.75rem 2rem;
  background-color: var(--blue-0);
  border: 1.5px solid black;
  border-radius: 1.875rem;
}

.container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 910px) {
    display: flex;
    flex-direction: column;
  }
}

.leftcontainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 20px;
  padding: 0rem 2rem;

  @media screen and (max-width: 910px) {
    width: 100%;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0rem 0rem 2rem 0rem;

  p {
    font-size: 1rem;
    color: black;
    font-weight: 400;
  }

  @media screen and (max-width: 910px) {
    padding: 0rem 0rem 0.75rem 0rem;
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 0.875rem;
      color: black;
      font-weight: 400;
    }
  }
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rightcontainer {
  width: 35%;

  p {
    font-size: 14px;
    padding: 0.4rem 0rem;
    color: black;
  }

  @media screen and (max-width: 910px) {
    display: none;
  }
}

.rightcontainerMobile {
  display: none;

  @media screen and (max-width: 910px) {
    display: block;
    width: 360px;

    p {
      font-size: 14px;
      padding: 0.4rem 0rem;
      color: black;
    }

    h5 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    display: block;
    padding: 0.4rem 0rem;
    width: 100%;

    p {
      font-size: 0.875rem;
      padding: 0.4rem 0rem;
      color: black;
    }

    h5 {
      font-size: 0.9rem;
    }
  }
}

.noteContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.companySize,
.industry {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
