.paddedContainer {
  padding: 0rem 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
    margin-bottom: 3rem;
  }
}

.boxContainer {
  margin-bottom: 1rem;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}
