.paddedContainer {
  padding: 0rem 0rem;
}

.styledBox {
  padding: 1rem 2rem;
  background-color: var(--yellow-0);
  border: 1.5px solid black;
  border-radius: 1.875rem;
}

.container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 910px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 480px) {
    margin-bottom: 2rem;
  }
}

.leftcontainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 20px;
  padding: 0rem 2rem;

  @media screen and (max-width: 910px) {
    width: 100%;
  }
}

.titleButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 910px) {
    padding: 0rem 0rem 0.75rem 0rem;
  }
}

.discussionContainer {
  display: flex;
  flex-direction: column;
}

.rightcontainer {
  width: 35%;
  padding: 5.25rem 2rem 0 2rem;

  p {
    font-size: 14px;
    padding: 0.4rem 0rem;
    color: black;
  }

  @media screen and (max-width: 910px) {
    display: none;
  }
}

.rightcontainerMobile {
  display: none;

  @media screen and (max-width: 910px) {
    display: block;
    width: 360px;

    p {
      font-size: 14px;
      padding: 0.4rem 0rem;
      color: black;
    }

    h5 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    display: block;
    padding: 0.4rem 0rem;
    width: 100%;

    p {
      font-size: 0.875rem;
      padding: 0.4rem 0rem;
      color: black;
    }

    h5 {
      font-size: 0.9rem;
    }
  }
}

.noteTitle {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

.repliesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  margin-left: 1rem;

  border-left: 1px solid var(--black);

  @media screen and (max-width: 480px) {
    margin-bottom: 2rem;
    gap: 6rem;
  }
}

.repliesDetails {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;

    .separator {
      display: none;
    }
  }
}

.replyFormFieldContainer {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.replyFormField {
  padding: 0.5rem 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelReplyButton {
  flex: 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendReplyButton {
  flex: 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formFieldParent {
  display: block;
  width: 100%;
}

.iconContainer {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 5px;

  @media screen and (max-width: 668px) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.iconEdit,
.iconDelete,
.iconReport {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.iconReport:hover {
  color: var(--black-overlay);
}

.editDescriptionSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.descriptionTextarea {
  resize: none;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.replyInternName {
  // border-bottom: 1px solid transparent;
  transition:
    color 0.3s ease,
    border-bottom-color 0.3s ease;
  &:hover {
    color: var(--secondary-color);
    // border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
  }
}
