.paddedContainer {
  padding: 0rem 0rem;

  @media (max-width: 1024px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 480px) {
    margin-bottom: 1rem;
  }
}

.styledBox {
  padding: 0.75rem 2rem;
  background-color: var(--blue-0);
  border: 1.5px solid black;
  border-radius: 1.875rem;
}

.container {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 910px) {
    display: flex;
    flex-direction: column;
  }
}

.leftcontainer {
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 0rem 2rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0rem 0rem 2rem 0rem;

  p {
    font-size: 1rem;
    color: black;
    font-weight: 400;
  }

  @media screen and (max-width: 910px) {
    padding: 0rem 0rem 0.75rem 0rem;
  }

  @media screen and (max-width: 480px) {
    p {
      font-size: 0.875rem;
      color: black;
      font-weight: 400;
    }
  }
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviewHeaderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.companySize,
.industry {
  display: grid;
  grid-template-columns: 15% 85%;

  p {
    word-wrap: break-word;
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}

.companyDescription {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.noteContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem 0rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.reviewButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--blue-6);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--blue-8);
  }
}
