.paddedContainer {
  padding: 0rem 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 1024px) {
    margin-bottom: 4rem;
  }

  @media (max-width: 480px) {
    margin-bottom: 6rem;
  }
}

.tipHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxContainer {
  margin-bottom: 1rem;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}

.informationContainer {
  padding: 1.5rem 0;
  color: black;

  p {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

  @media (max-width: 480px) {
    padding: 0.9rem 0;

    p {
      font-size: 0.875rem;
      color: black;
      font-weight: 400;
    }
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}
