.paddedContainer {
  padding: 0rem 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }
}

.boxContainer {
  margin-bottom: 1rem;
  padding: 0 2rem;

  @media (max-width: 768px) {
    padding: 0 1.25rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}

.informationContainer {
  padding: 1.5rem 0;
  color: black;

  p {
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

  @media (max-width: 480px) {
    padding: 0.9rem 0;
  }
}
