.styledbox {
  background-color: var(--neutral-0);
  border: 3px solid var(--black);
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.title {
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.subtitle {
  margin-bottom: 1rem;
}

.items {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--black);
  gap: .4rem;
}

@media screen and (max-width: 768px) {
  .styledbox {
      margin: 0 1rem;
      padding: 1.5rem;
  }

  .title {
      margin-bottom: 1.5rem;
  }

  .subtitle {
      margin-bottom: 0.75rem;
  }

  .items {
      margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
      margin: 0 0.5rem;
      padding: 1rem;
  }

  .title {
      margin-bottom: 1rem;
      font-size: 1.5rem;
  }

  .subtitle {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
  }

  .items {
      margin-bottom: 0.5rem;
  }
}
