/* SCSS for LoginStudentPage Component */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  max-width: 420px;
  width: 100%;
  margin-top: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.forgotPassword {
  margin-top: 0.4rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.8rem;
  transform: translateY(-50%);
}

.button {
  width: 100%;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

.hr {
  height: 1px;
  border-top: 1px solid var(--muted-black);
  max-width: 25%;
  margin: 8px auto;
}

.googleButton {
  width: 100%;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  color: var(--black);

  background-color: white;

  position: relative;

  &:hover {
    background-color: var(--neutral-0);
  }

  &:active {
    background-color: var(--neutral-1);
  }
}

.googleIcon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 1.8rem;
  transform: translate(0, -50%);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .form {
    gap: 0.5rem;
  }

  .icon {
    left: 1.4rem;
  }

  .button {
    padding: 1.1rem 2.2rem;
    font-size: 1.1rem;
  }

  .header {
    font-size: 1.85rem;
  }
}

@media screen and (max-width: 480px) {
  .formContainer,
  .button {
    margin-top: 1.5rem;
  }

  .form {
    gap: 0.4rem;
  }

  .icon {
    left: 1.2rem;
    aspect-ratio: 1 / 1;
    width: 1.75rem;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .header {
    font-size: 1.6rem;
  }

  .forgotPassword {
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
}
