.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  max-width: 420px;
  width: 100%;

  margin-top: 2.5rem;
}

.button {
  width: 100%;
  padding: 1.2rem 2.4rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 1.1rem 2.2rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  .buttonContainer {
    gap: 0.6rem;
    margin-top: 1.5rem;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
