.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  max-width: 420px;
  width: 100%;
  margin-top: 2.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.8rem;

  transform: translate(0%, -50%);
}

.button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;
}

@media screen and (max-width: 768px) {
  .form {
    gap: 0.5rem;
  }

  .icon {
    left: 1.4rem;
  }

  .button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .header {
    text-align: center;
    font-size: 1.45rem;
  }
}

@media screen and (max-width: 480px) {
  .formContainer,
  .button {
    margin-top: 1.5rem;
    max-width: 320px;
  }

  .form {
    gap: 0.4rem;
  }

  .icon {
    left: 1.2rem;
    aspect-ratio: 1/1;
    width: 1.75rem;
  }

  .button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
  }

  .header {
    font-size: 1.2rem;
  }
}
