.paddedContainer {
  padding: 0rem 0rem;
}

.styledBox {
  padding: 1rem 2rem;
  background-color: var(--yellow-0);
  border: 1.5px solid black;
  border-radius: 1.875rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.leftcontainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 20px;
  padding: 0rem 2rem;
}

.titleButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discussionContainer {
  display: flex;
  flex-direction: column;
}

.rightcontainer {
  width: 35%;
  padding: 0rem 2rem;

  p {
    font-size: 14px;
    padding: 0.4rem 0rem;
    color: black;
  }
}

.noteTitle {
  font-size: 1rem !important;
  font-weight: 700 !important;
}
