.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: black;
}

.editHeaderInput {
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.5rem;
}

.descriptionTextarea {
  border-radius: 4px;
  border: 1px solid black;
  padding: 0.5rem;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.iconEdit,
.iconDelete {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.styledBox {
  background-color: var(--white);
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  border: 2px solid var(--neutral-2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.285);
}

.header {
  font-size: 1.25rem;
  font-weight: 700;

  @media (max-width: 480px) {
    font-size: 1.15rem;
  }
}

.date {
  @media (max-width: 480px) {
    font-size: 0.9rem;
  }
}

.description {
  font-size: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.editDescriptionSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.descriptionTextarea {
  resize: none;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}
