.tokenItem {
  display: grid;
  grid-template-columns: 1fr 112px 112px 2fr 24px;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 1rem;
  width: 100%;
}

.token {
  // grid-column: 1 / 2;
}

.status {
  // grid-column: 2 / 3;
}

.expiration {
  // grid-column: 3 / 4;
}

.tokenformfield {
  // grid-column: 4 / 5;
}

.trashIcon {
  // grid-column: 5 / 6;
  cursor: pointer;
  color: var(--red-6);
}

.restoreIcon {
  cursor: pointer;
  color: var(--green-6);
}

.tokenItem p,
.tokenItem input {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .tokenItem {
    // grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

.token {
  min-width: 180px;
}

.expiration {
  padding: 0 0 0 1rem;

  @media screen and (max-width: 1268px) {
    padding: 0 0 0 1.5rem;
    min-width: 120px;
  }
}

.email {
  padding: 0 0 0 1rem;

  @media screen and (max-width: 1268px) {
    padding: 0 0 0 1.75rem;
  }
}

.email:hover {
  cursor: pointer;
}
