.tokenItem {
  display: grid;
  grid-template-columns: 80px 80px 7rem 1fr 80px;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
}

.number {
  // width: 20px;
}

.token {
  // width: 20px;
}

.tokenformfield {
  // width: 20px;
}

.status {
  // width: 20px;
}

.mailIcon {
  cursor: pointer;
}

.trashIcon {
  cursor: pointer;
  color: var(--red-6);
  align-items: center;
}

.iconHolder {
  // width: 20px;

  display: flex;
  align-items: center;
  gap: 1.25rem;
}
