.paddedContainer {
  padding: 2rem 12rem;

  @media (max-width: 1200px) {
    padding: 2rem 8rem;
  }

  @media (max-width: 768px) {
    padding: 2rem 4rem;
  }

  @media (max-width: 480px) {
    padding: 1rem;
  }
}

.styledBox {
  background-color: var(--neutral-0);
  text-align: center;
  padding: 0 8rem;
  border: 2px solid black;

  @media (max-width: 1200px) {
    padding: 0 5rem;
  }

  @media (max-width: 768px) {
    padding: 0 2rem;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;
}

.nameHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.name {
  max-width: 300px;
  word-wrap: break-word;

  @media (max-width: 480px) {
    max-width: 200px;
  }

  @media (max-width: 335px) {
    max-width: 150px;
  }
}

.fieldBio {
  height: 170px;
  border-radius: 30px;
  resize: vertical;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.headerIcon {
  display: block;
  margin: auto;
  color: black;
}

.icon {
  position: absolute;
  top: 50%;
  left: 1.8rem;
  transform: translate(0%, -50%);
}

.iconTextArea {
  position: absolute;
  top: 18%;
  left: 1.8rem;
  transform: translate(0%, -50%);
}

.name {
  font-size: 1.2rem;
  flex: 1;
  margin-left: 30px;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.editIcon {
  flex-grow: 0;
  flex-shrink: 0;

  justify-self: flex-end;
  display: block;
  margin-left: auto;
}

.title {
  font-size: 1.75rem;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.button {
  height: 70px;
  font-size: 1.2rem;

  @media (max-width: 768px) {
    height: 60px;
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    height: 50px;
    font-size: 0.9rem;
  }
}

.formFieldParentDiv {
  display: block;
  width: 100%;
  flex: 1;
}

.profileFormField {
  text-align: left;
  padding-left: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.cancelEditButton {
  flex: 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  aspect-ratio: 1/1;
}

.sendEditButton {
  flex: 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  aspect-ratio: 1/1;
}
