.styledBox {
  background-color: var(--neutral-0);
  margin-bottom: 2rem;
}

//trial only will delete after
.trialStyledBox {
  padding: 0;
  margin-top: 0;
  border-radius: 8px;
  border: 2px solid var(--black);
  overflow: hidden;
}
