.container {
  max-width: 1280px;
  margin: 0 auto;
}

.h1 {
  margin-bottom: 1rem;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filterSection {
  display: flex;
  margin: 0 auto;
  max-width: 768px;
  gap: 6px;

  margin-bottom: 2rem;

  position: relative;
}

.iconSearch {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 1.5rem;
}

.searchBox {
  display: block;
  width: 100%;
  padding: 1.125rem 3.625rem;

  border: 1px solid var(--neutral-3);
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;

  flex: 1 1 50%;

  &::placeholder {
    color: var(--muted-text-color);
  }
}

.jobClassification {
  display: block;
  width: 100%;

  border: 1px solid var(--neutral-3);
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;

  position: relative;

  flex: 1 1 50%;

  & > input {
    color: var(--muted-text-color);
    padding: 1.125rem 3.625rem;

    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .itemContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .itemContainer {
    grid-template-columns: 1fr;
  }

  .iconSearch {
    top: 24%;
  }

  .filterSection {
    flex-direction: column;
  }

  .searchBox {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
  }

  .jobClassification {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
  }
}

@media screen and (max-width: 360px) {
  .paginationButton {
    padding: 7.5px 12.5px !important;
  }
}

@media screen and (max-width: 360px) {
  .paginationButton {
    padding: 5px 10px !important;
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}
