.container {
  background-color: #ffffff;
  min-height: 100vh;
  min-width: 280px;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.active {
  border-bottom: 1px solid var(--dark-text-color);
}

.notificationContainer {
  position: absolute;
  top: 0px;
  right: -775px;
  z-index: 10;

  @media screen and (max-width: 1024px) {
    // position: inherit;
    display: none;
  }

  @media screen and (max-width: 2500px) {
    right: -750px;
  }

  @media screen and (max-width: 2460px) {
    right: -715px;
  }

  @media screen and (max-width: 2400px) {
    right: -680px;
  }

  @media screen and (max-width: 2340px) {
    right: -650px;
  }

  @media screen and (max-width: 2290px) {
    right: -620px;
  }

  @media screen and (max-width: 2230px) {
    right: -590px;
  }

  @media screen and (max-width: 2170px) {
    right: -560px;
  }

  @media screen and (max-width: 2110px) {
    right: -530px;
  }

  @media screen and (max-width: 2050px) {
    right: -500px;
  }

  @media screen and (max-width: 1980px) {
    right: -480px;
  }

  @media screen and (max-width: 1924px) {
    right: -460px;
  }

  @media screen and (max-width: 1900px) {
    right: -450px;
  }

  @media screen and (max-width: 1865px) {
    right: -440px;
  }

  @media screen and (max-width: 1830px) {
    right: -425px;
  }

  @media screen and (max-width: 1795px) {
    right: -410px;
  }

  @media screen and (max-width: 1760px) {
    right: -395px;
  }

  @media screen and (max-width: 1725px) {
    right: -377px;
  }

  @media screen and (max-width: 1690px) {
    right: -360px;
  }

  @media screen and (max-width: 1665px) {
    right: -340px;
  }

  @media screen and (max-width: 1635px) {
    right: -327px;
  }

  @media screen and (max-width: 1610px) {
    right: -314px;
  }

  @media screen and (max-width: 1585px) {
    right: -301px;
  }

  @media screen and (max-width: 1565px) {
    right: -288px;
  }

  @media screen and (max-width: 1545px) {
    right: -275px;
  }

  @media screen and (max-width: 1525px) {
    right: -262px;
  }

  @media screen and (max-width: 1500px) {
    right: -249px;
  }

  @media screen and (max-width: 1475px) {
    right: -236px;
  }

  @media screen and (max-width: 1450px) {
    right: -223px;
  }

  @media screen and (max-width: 1425px) {
    right: -210px;
  }

  @media screen and (max-width: 1375px) {
    right: -200px;
  }

  @media screen and (max-width: 1350px) {
    right: -190px;
  }

  @media screen and (max-width: 1325px) {
    right: -180px;
  }

  @media screen and (max-width: 1300px) {
    right: -170px;
  }

  @media screen and (max-width: 1275px) {
    right: -160px;
  }

  @media screen and (max-width: 1250px) {
    right: -150px;
  }

  @media screen and (max-width: 1225px) {
    right: -140px;
  }

  @media screen and (max-width: 1200px) {
    right: -130px;
  }

  @media screen and (max-width: 1175px) {
    right: -120px;
  }

  @media screen and (max-width: 1150px) {
    right: -110px;
  }

  @media screen and (max-width: 1125px) {
    right: -100px;
  }

  @media screen and (max-width: 1050px) {
    right: -90px;
  }

  .notificationBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
