.container {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.bottomNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 99;
  background-color: var(--neutral-1);

  box-shadow: 0 40px 16px 32px var(--black);
}

.bottomNavList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  height: 80px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.bottomNavIcon {
  color: var(--black);
}

.bottomNavIconActive {
  background-color: var(--blue-1);
  border: 1px solid var(--blue-2);
  border-radius: 8px;
  padding: 8px;
}

.activeLink {
  font-weight: 700;
}

@media screen and (max-width: 868px) {
  .bottomNav {
    display: block;
  }

  .main {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navList {
    font-size: 1rem;
    gap: 1.15rem;
  }
}

@media screen and (max-width: 420px) {
  .navList {
    font-size: 0.9rem;
    gap: 1rem;
  }

  .bottomNavList {
    gap: 2.5rem;
  }
}
