.container {
  border-radius: 1.25rem;
  background-color: burlywood;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }
}
