.container {
  display: flex;
  flex-direction: column;
  gap: 55px;
  padding: 0 4rem;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
    gap: 25px;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
    gap: 20px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  @media (max-width: 480px) {
    gap: 10px;
    padding-bottom: 6px;
    border-bottom: 0.5px solid var(--muted-black);
  }
}

.title {
  font-size: 28px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.announcementButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.875rem 1.75rem 0.875rem 0.875rem;

  @media (max-width: 768px) {
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 480px) {
    gap: 0px;
    padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  }
}

.iconPlus {
  @media (max-width: 768px) {
    margin-right: 0.5rem;
  }
}
