.paddedContainer {
  max-width: 1620px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 2.875rem 10rem;

  @media (max-width: 1024px) {
    padding: 2.875rem 2rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0rem;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
    gap: 25px;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
    gap: 20px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    gap: 15px;
  }

  @media (max-width: 480px) {
    gap: 10px;
    padding-bottom: 6px;
    // border-bottom: 0.5px solid var(--muted-black);
    margin-bottom: 1.25rem;
  }
}

.title {
  font-size: 28px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.announcementButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.875rem 1.75rem 0.875rem 0.875rem;

  @media (max-width: 768px) {
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
  }

  @media (max-width: 480px) {
    gap: 0px;
    padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  }
}

.iconPlus {
  @media (max-width: 768px) {
    margin-right: 0.5rem;
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}

@media screen and (max-width: 480px) {
  .paginationButton {
    padding: 7.5px 12.5px !important;
  }
}

@media screen and (max-width: 400px) {
  .paginationButton {
    padding: 5px 10px !important;
  }
}

@media screen and (max-width: 375px) {
  .paginationButton {
    padding: 4px 8px !important;
  }
}
