.paddedContainer {
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.containerUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1400px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 0 1rem;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  position: relative;

  .positionedButton {
    position: absolute;
    bottom: -1.75rem;
    left: -0.5rem;

    & > button {
      background-color: var(--primary-color);
      height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      &:hover {
        background-color: var(--yellow-8);
      }
    }

    .dropdownContent {
      position: absolute;
      margin-top: 0.5rem;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      border-radius: 4px;
      overflow: hidden;
      background-color: var(--primary-color);
      color: var(--white);
    }

    .dropdownItem {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      width: 100%;
      text-align: center;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        background-color: var(--yellow-8);
      }
    }

    & .dropdownItem:not(:last-child) {
      border-bottom: 1px solid var(--shite);
    }
  }

  img {
    max-width: 100%;
  }
}

.companyName {
  font-size: 1.25rem !important;
  margin: 0;
  word-break: break-word;
}

.email {
  margin: 0;
  word-break: break-word;
}

.detailsHolder {
  display: flex;
  flex-direction: column;
}

.detailsHolderUser {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionHeading {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.saveAndCancelButtons {
  display: flex;
  gap: 0.5rem;
}

.iconEdit {
  width: 1.25rem;
  height: 1.25rem;
  transition: all 0.3s ease;
}

// .iconEdit:hover {
//   color: var(--blue-6);
// }

.headingEditButton {
  display: flex;
  align-items: center;
}

.inputTextCompanyName {
  font-size: 1.25rem;
  padding: 0.25rem;
}

.inputTextEmail {
  font-size: 1rem;
  padding: 0.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Faded background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer; /* Makes the background clickable */
}

.imageViewer {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: auto; /* Prevents clicking on the image from closing the modal */
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: #333; /* Dark background for better contrast */
  border-radius: 50%; /* Makes it circular */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  text-align: center;
}

.companyImageFallback {
  justify-content: center;
  align-items: center;

  padding: 1rem;
  font-size: 40px; /* Adjust text size */
  font-weight: bold;
  text-transform: uppercase; /* Optional: make initials uppercase */
}

.editButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.825rem 1.15rem;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--blue-8);
  }

  &:active {
    background-color: var(--blue-9);
  }

  @media (max-width: 714px) {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
  }
}

.companyInfo {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  align-items: center;
  width: 100%;

  @media (max-width: 714px) {
    gap: 3rem;
  }

  @media (max-width: 480px) {
    gap: 1.5rem;
  }
}

.buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
