.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.styledBox {
  background-color: var(--neutral-0);
  padding: 1.75rem 2rem;
  border-radius: 1.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 1.375rem;
    font-weight: 500;
    color: black;
  }
}

.formTitle {
  margin-bottom: 10px;
}

.formField {
  padding: 1rem 1rem;
}

.formFieldBio {
  height: 200px;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 30px;
  resize: vertical;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.buttonCancel,
.buttonSubmit {
  padding: 1rem 3rem;
}

.buttonCancel {
  background-color: var(--neutral-5);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    background-color: var(--neutral-7);
  }
}
