.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.styledBox {
  background-color: var(--neutral-0);
  padding: 1.75rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  // background-color: white;
  border: 1px solid var(--muted-black);
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  p {
    font-size: 1.375rem;
    font-weight: 500;
    color: black;
  }
}

.formTitle {
  margin-bottom: 10px;
}

.formField {
  padding: 1rem 1rem;
}

.formFieldBio {
  height: 200px;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 30px;
  resize: vertical;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  justify-content: flex-end;
  gap: 1rem;

  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.buttonCancel,
.buttonSubmit {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-8);
  }
}

.buttonCancel {
  background-color: var(--black);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:hover {
    background-color: var(--neutral-8);
  }

  &:active {
    background-color: var(--neutral-8);
  }
}

.quillWrapper {
  margin-top: 10px;
}

.quillContainer {
  font-family: inherit;
  font-size: inherit;
  color: black;
}

.quillContainer {
  background-color: var(--white);
}
