.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.jobItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  background-color: var(--neutral-0);
  border-radius: 1.5rem;

  gap: 2rem;

  &:hover .editButton,
  &:hover .deleteButton {
    opacity: 100%;
  }
}

.jobName {
  flex: 4;
  font-size: 1.15rem;
  font-weight: 600;

  @media screen and (max-width: 480px) {
    font-size: 1.05rem;
  }
}

.jobDescription {
  flex: 8;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.editButton {
  opacity: 50%;
}

.deleteButton {
  opacity: 50%;
}

.iconEdit,
.iconDelete {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.jobHeading {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}

@media screen and (max-width: 480px) {
  .paginationButton {
    padding: 7.5px 12.5px !important;
  }
}

@media screen and (max-width: 400px) {
  .paginationButton {
    padding: 5px 10px !important;
  }
}

@media screen and (max-width: 375px) {
  .paginationButton {
    padding: 4px 8px !important;
  }
}
