.styledBox {
  padding: 1.5rem;
}

.container {
  border-radius: 1.25rem;
  background-color: var(--neutral-0);
  color: black;
  margin-top: 1rem;
}

.forumContainer {
  display: flex;
  gap: 2rem;
}

.replyButtonContainer {
  padding: 0.8rem 0rem;
}

.ForumSubjectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 25%;
  flex: 0;

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.internName {
  font-size: 22px !important;
  font-weight: 600 !important;
}

.discussionForumDescription {
  width: 75%;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
}

.iconEdit,
.iconDelete,
.iconReport {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.iconReport:hover {
  color: var(--neutral-9);
}

.replyButton {
  background-color: var(--black);
  color: white;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editDescriptionSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descriptionTextarea {
  resize: none;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }
}
