.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  width: 90%;
  max-width: 700px;
  text-align: left;

  @media (max-width: 768px) {
    padding: 1.5rem;
    border-radius: 15px;
  }

  @media (max-width: 480px) {
    padding: 1rem;
    border-radius: 10px;
  }
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }

  @media (max-width: 480px) {
    font-size: 1.25rem;
  }
}

.separator {
  height: 1px;
  background-color: var(--muted-black);
  margin: 2rem 0;
}

.label {
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.formField {
  padding: 0.75rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.textarea {
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 10px;
  height: 250px;
  resize: none;
  font-size: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
