.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.title {
  margin-bottom: 1rem;
}

.buttonContainer {
  text-align: center;
  margin-top: 1rem;
}

.popupButton,
.redButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  height: 40px;
  margin: 0 0.5rem;
}

.popupButton {
  background-color: var(--blue-6);
  color: white;

  &:hover {
    background-color: var(--blue-7);
  }
}

.redButton {
  background-color: var(--red-6);
  color: white;

  &:hover {
    background-color: var(--red-7);
  }
}

.chooseImageContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1rem;
}

.imageInputRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.fileInput {
  padding: 0.4rem;
}

.removeButton {
  background-color: var(--red-6);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--red-7);
  }
}

.addButton {
  background-color: var(--green-6);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--green-7);
  }
}

@media (max-width: 480px) {
  .popup {
    padding: 1rem;
  }

  .popupButton {
    padding: 0.4rem 0.8rem;
  }

  .addButton {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .removeButton {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }
}

.existingImageRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.existingImageName {
  font-size: 14px;
  color: #333;
}

.existingImages {
  h3 {
    margin-bottom: 20px;
  }
}

.removeButton {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.addButton,
.popupButton {
  margin-top: 16px;
}
