.paddedContainer {
  padding: 1.5rem;
}

.container {
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.285);
  border: 1px solid var(--muted-black);
  color: black;
  margin-top: 1rem;
}

.tipsDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.tipsSubjectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.interviewTipsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.subjectHeading {
  font-size: 22px !important;
  font-weight: 600 !important;
  margin: 0;
  word-break: break-word;
}

.jobDescription {
  // text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  margin: 0;
  word-break: break-word;
  white-space: pre-wrap;
}

.internName {
  margin: 0;
  word-break: break-word;
  transition:
    color 0.3s ease,
    border-bottom-color 0.3s ease;
  &:hover {
    color: var(--secondary-color);
    cursor: pointer;
  }
}

.iconEdit,
.iconDelete,
.iconReport {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.iconReport:hover {
  color: var(--neutral-9);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 1rem;
}

.editTipSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.cancelButton {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.descriptionTextarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }

  .tipsDetailsContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .tipsSubjectContainer {
    width: 100%;
  }

  .jobDescription {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0rem 0rem 0.5rem 0rem;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }

  .subjectHeading,
  .internName {
    font-size: 0.75rem;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
