.paddedContainer {
  padding: 1.5rem;
}

.container {
  border-radius: 1.25rem;
  background-color: var(--neutral-0);
  color: black;
  margin-top: 1rem;
}

.tipsDetailsContainer {
  display: flex;
  justify-content: space-between;
}

.tipsSubjectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 20%;

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.subjectHeading {
  font-size: 22px !important;
  font-weight: 600 !important;
}

.jobDescription {
  width: 80%;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0rem 8rem 0rem 2rem;
  word-wrap: break-word;
  overflow-y: auto;
}

.internName {
  // border-bottom: 1px solid transparent;
  transition:
    color 0.3s ease,
    border-bottom-color 0.3s ease;
  &:hover {
    color: var(--secondary-color);
    // border-bottom: 1px solid var(--secondary-color);
    cursor: pointer;
  }
}

.iconEdit,
.iconDelete,
.iconReport {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.iconReport:hover {
  color: var(--neutral-9);
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editTipSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.descriptionTextarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }

  .tipsDetailsContainer {
    flex-direction: column;
    gap: 1rem;
  }

  .tipsSubjectContainer {
    width: 100%;
  }

  .jobDescription {
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0rem 0rem 0.5rem 0rem;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }

  .subjectHeading,
  .internName {
    font-size: 0.75rem;
  }

  .iconContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
