.paddedContainer {
  padding: 1.5rem 2rem;
}

.container {
  border-radius: 1.25rem;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.285);
  border: 1px solid var(--muted-black);

  color: black;
  margin-top: 1rem;
}

.jobDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.jobSubjectContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    font-size: 0.875rem;
    font-weight: 500;
  }
}

.jobTitle {
  font-size: 1.25rem !important;
  font-weight: 600 !important;
}

.jobDescription {
  font-size: 0.875rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }

  .jobDetailsContainer {
    flex-direction: column;
    gap: 0.2rem;
  }

  .jobDescription {
    padding: 1rem 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }

  .jobDetailsContainer {
    flex-direction: column;
  }

  .jobDescription {
    padding: 1rem 0;
  }
}
