.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.sectionHeading {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.locationGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.headingEditButton {
  display: flex;
  align-items: center;
}

.addLocationButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.825rem 1.15rem 0.825rem 0.9rem;
  border-radius: 10px;

  &:hover {
    background-color: var(--blue-8);
  }

  &:active {
    background-color: var(--blue-9);
  }

  p {
    line-height: 0.8;
  }
  @media (max-width: 480px) {
    padding: 0.775rem 1.05rem 0.775rem 0.8rem;
    font-size: 0.85rem;
  }
}

.locationItem {
  background-color: var(--neutral-1);
  padding: 1.75rem;
  padding-right: 2.25rem;
  border-radius: 0.5rem;
  position: relative;

  &:hover .editButton,
  &:hover .deleteButton {
    opacity: 1;
    visibility: visible;
  }

  .editButton {
    position: absolute;
    bottom: 50%;
    right: 0.5rem;
    transition: none;
    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }

  .deleteButton {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transition: none;
    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }
}

.textareaDesc {
  width: 100%;
  resize: vertical;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.saveAndCancelButtons {
  display: flex;
  gap: 0.5rem;
}

.iconEdit,
.iconDelete {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.inputText {
  display: block;
  width: 100%;
}

.addForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;

  input {
    padding: 0.25rem;
  }
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.editDialog {
  background-color: var(--white);
  text-align: center;
  padding: 2rem;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 500px;

  h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .inputText {
    margin-bottom: 1rem;
  }
}

.editForm input {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem;
}

.saveButtonPopUp {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButtonPopUp {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.saveAndCancelButtonsPopUp {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .locationGrid {
    grid-template-columns: 1fr;
  }
}
