.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.sectionHeading {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.locationGrid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.headingEditButton {
  display: flex;
  align-items: center;
}

.addLocationButton {
  background-color: var(--secondary-color);
  display: flex;
  gap: 0.25rem;
  align-items: center;
  color: var(--white);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  padding-left: 0.75rem;
  border-radius: 99px;

  p {
    line-height: 0.8;
  }
}

.locationItem {
  background-color: var(--neutral-1);
  padding: 1.75rem;
  padding-right: 2.25rem;
  border-radius: 0.5rem;
  position: relative;

  &:hover .editButton,
  &:hover .deleteButton {
    opacity: 1;
    visibility: visible;
  }

  .editButton {
    position: absolute;
    bottom: 50%;
    right: 0.5rem;
    transition: none;
    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }

  .deleteButton {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transition: none;
    opacity: 50%;

    &:hover {
      color: var(--blue-6);
    }
  }
}

.textareaDesc {
  width: 100%;
  resize: vertical;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 99px;
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 99px;
}

.saveAndCancelButtons {
  display: flex;
  gap: 0.25rem;
}

.inputText {
  display: block;
  width: 100%;
}

.addForm {
  display: flex;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.editDialog {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.5rem;
  width: 90%;
  max-width: 500px;

  h4 {
    margin-bottom: 1rem;
  }

  .inputText {
    margin-bottom: 1rem;
  }

  button {
    display: block;
    width: 100%;
  }
}

.editForm input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .locationGrid {
    grid-template-columns: 1fr;
  }
}
