.reportFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reportForm {
  background-color: var(--neutral-0);
  padding: 2rem;
  border-radius: 1.25rem;
  width: 400px;
  box-shadow: 0 4px 8px var(--black-overlay);
}

.heading {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}

.textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--muted-black);
  margin-bottom: 1rem;
  font-size: 1rem;
  resize: vertical;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--red-6);
  color: var(--light-text-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.cancelButton {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--black);
  color: var(--light-text-color);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(0, 0%, 28%);
  }

  &:active {
    background-color: var(--black);
  }
}
