.styledBox {
  padding: 1.5rem;
}

.container {
  border-radius: 1.25rem;
  background-color: var(--neutral-0);
  color: black;
  margin-top: 1rem;

  @media screen and (max-width: 668px) {
    margin-bottom: 5rem;
  }
}

.reviewContainer {
  display: flex;
  gap: 2rem;

  @media screen and (max-width: 668px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.replyButtonContainer {
  display: flex;
  align-items: center;

  .replyButton {
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }

    &.up {
    }

    &.down {
    }

    .voteCount {
      margin-left: 0.5rem;
    }
  }

  .active {
  }
}

.reviewSubjectContainer {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 10px;
}

.reviewerDetails {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.verticalDivider {
  height: 30px;
  width: 2px;
  background-color: black;
}

.internName {
  font-size: 0.875rem;
  font-weight: 600;
}

.rating {
  font-size: 1.375rem;
  font-weight: 600;
}

.reviewDescription {
  width: 75%;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  word-wrap: break-word;
  overflow-y: auto;

  @media screen and (max-width: 668px) {
    width: 100%;
  }
}

.iconEdit,
.iconDelete,
.iconReport {
  transition: all 0.3s ease;
}

.iconEdit:hover {
  color: var(--blue-6);
}

.iconDelete:hover {
  color: var(--red-6);
}

.iconReport:hover {
  color: var(--neutral-9);
}

.replyButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.replyButton {
  background-color: var(--black);
  color: white;
  display: flex;
  flex-direction: row;

  &.up {
    border-radius: 30px 0 0 30px;
  }

  &.down {
    border-radius: 0 30px 30px 0;
  }
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media screen and (max-width: 668px) {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

.editReviewDescriptionSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.editButtons {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.saveButton {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--blue-7);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.cancelButton {
  background-color: var(--red-6);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 99px;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.ratingTextfield {
  width: 2rem;
  text-align: center;
  height: 100%;
}

.ratingContainer {
  display: flex;
  gap: 0.25rem;
}

.descriptionTextarea {
  resize: none;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }
}
