.heading {
  margin-bottom: 60px;
}

// ROW

.col {
  flex: 1 1 0;
}

.thirdCol {
  flex: 0 0 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.25rem 1.875rem;
}

.postDetailsHeading {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-bottom: 0.875rem;
}

.postDetailsName {
  font-weight: 600;
}

.postDetailsDate {
  font-size: 0.75rem;
}

.postDetailsTitle {
  margin-bottom: 0.5rem;
}

.postDetailsBody {
  font-size: 0.875rem;
}

.reportDetailsHeading {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-bottom: 0.875rem;
  color: var(--red-6);
}

.reportDetailsName {
  font-weight: 600;
}

.reportDetailsDate {
  font-size: 0.75rem;
}

.reportDetailsBody {
  font-size: 0.875rem;
  color: var(--red-6);
}

.actionsButtonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: baseline;

  button {
    aspect-ratio: 1/1;
  }
}

.btnCheck {
  background-color: var(--green-5);
  padding: 0.125rem;
  border-radius: 4px;
  color: var(--black);
}

.btnDismiss {
  background-color: var(--red-6);
  padding: 0.125rem;
  border-radius: 4px;
  color: var(--black);
}
