.heading {
  margin-bottom: 40px;
}

// ROW

.col {
  flex: 1 1 0;
}

.thirdCol {
  flex: 0 0 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.25rem 1.875rem;
}

.postDetailsHeading {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-bottom: 0.875rem;
}

.postDetailsName {
  font-weight: 600;
}

.postDetailsDate {
  font-size: 0.75rem;
}

.postDetailsBody {
  font-size: 0.875rem;
  width: 520px;
  word-wrap: break-word;
  overflow-y: auto;

  @media screen and (max-width: 1480px) {
    width: 300px;
  }

  @media screen and (max-width: 1200px) {
    width: 250px;
  }

  @media screen and (max-width: 1100px) {
    width: 210px;
  }

  @media screen and (max-width: 850px) {
    width: 175px;
  }

  @media screen and (max-width: 750px) {
    width: 150px;
  }
}

.reportDetailsHeading {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  margin-bottom: 0.875rem;
  color: var(--red-6);
}

.reportDetailsName {
  font-weight: 600;
}

.reportDetailsDate {
  font-size: 0.75rem;
}

.reportDetailsBody {
  font-size: 0.875rem;
  color: var(--red-6);
}

.actionsButtonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: baseline;

  button {
    aspect-ratio: 1/1;
  }
}

.btnCheck {
  background-color: var(--green-6);
  padding: 0.125rem;
  border-radius: 4px;
  color: var(--black);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--green-7);
  }

  &:active {
    background-color: var(--green-9);
  }
}

.btnDismiss {
  background-color: var(--red-6);
  padding: 0.125rem;
  border-radius: 4px;
  color: var(--black);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--red-7);
  }

  &:active {
    background-color: var(--red-9);
  }
}

.reportIssueHolder {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 0 1rem 0;
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
  margin-bottom: 20px;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}
