.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  h1 {
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--black);
  }

  h2 {
    font-size: 1.75rem;
  }
}

.contentHolder {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.35rem;

  p {
    margin-bottom: 1.25rem;
  }
}

@media screen and (max-width: 1366px) {
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    h1 {
      font-size: 2.1rem;
      font-family: "Poppins", sans-serif;
      line-height: 1.4;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.15rem;
      font-weight: 400;
      color: var(--black);
    }

    h2 {
      font-size: 1.65rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    h1 {
      font-size: 2rem;
      font-family: "Poppins", sans-serif;
      line-height: 1.4;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1.1rem;
      font-weight: 400;
      color: var(--black);
    }

    h2 {
      font-size: 1.55rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    h1 {
      font-size: 1.75rem;
      font-family: "Poppins", sans-serif;
      line-height: 1.4;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: var(--black);
    }

    h2 {
      font-size: 1.35rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    h1 {
      font-size: 1.5rem;
      font-family: "Poppins", sans-serif;
      line-height: 1.4;
    }

    p {
      font-family: "Montserrat", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--black);
    }

    h2 {
      font-size: 1.15rem;
    }
  }
}
