.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.header {
  color: var(--color-primary);
}
