.styledbox {
  background-color: var(--neutral-0);
  // border: 3px solid var(--black);
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  border-radius: 10px !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.editIcon {
  flex-grow: 0;
  flex-shrink: 0;
  justify-self: flex-end;
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3 ease;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

.subtitle {
  margin-bottom: 0.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--black);

  p {
    margin-bottom: 0.75rem;
  }
}

.videoContainer {
  margin-top: 2rem;

  iframe {
    width: 100%;
    height: 500px; /* or whatever height you prefer */
    border: none;
  }

  p {
    margin-top: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .videoContainer {
    iframe {
      width: 100%;
      height: 400px; /* or whatever height you prefer */
      border: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .styledbox {
    margin: 0 1rem;
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }

  .subtitle {
    margin-bottom: 0.75rem;
  }

  .items {
    margin-bottom: 0.75rem;
  }

  .videoContainer {
    iframe {
      width: 100%;
      height: 300px; /* or whatever height you prefer */
      border: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
    margin: 0 0.5rem;
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  .items {
    margin-bottom: 0.5rem;
  }

  .videoContainer {
    iframe {
      width: 100%;
      height: 160px; /* or whatever height you prefer */
      border: none;
    }
  }
}
