.paddedContainer {
  max-width: 1620px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 2.875rem 10rem;

  @media (max-width: 1120px) {
    padding: 2.875rem 2rem;
  }
}

.button {
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.styledbox {
  border: 2px solid var(--neutral-1);
  max-width: 1024px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    gap: 15px;
  }

  @media (max-width: 480px) {
    gap: 10px;
    padding-bottom: 6px;
    // border-bottom: 0.5px solid var(--muted-black);
    margin-bottom: 1.25rem;
  }
}

.title {
  align-items: center;
  font-size: 28px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.token {
  min-width: 180px;
}

.companytokens {
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -2.8rem;

  min-width: fit-content;

  // @media screen and (max-width: 768px) {
  //   margin: 0;
  // }
}

.header {
  display: grid;
  grid-template-columns: 1fr 112px 112px 2fr 24px;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--neutral-1);
  gap: 1.6rem;

  @media screen and (max-width: 1024px) {
    gap: 0.65rem;
  }

  @media screen and (max-width: 480px) {
    gap: 0rem;
  }
}

.header p {
  margin: 0;
}

.tokenformfield {
  position: relative;
}

.childClass {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .childClass {
    padding: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}

@media screen and (max-width: 1120px) {
  .expiresIn {
    padding: 0 0 0 1rem;
  }

  .company {
    padding: 0 0 0 1rem;
  }
}

@media screen and (max-width: 1120px) {
  .expiresIn {
    padding: 0 0 0 1.5rem;
  }

  .company {
    padding: 0 0 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .company {
    padding: 0 0 0 2.5rem;
  }
}

@media screen and (max-width: 980px) {
  .expiresIn {
    padding: 0 0 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .status {
    padding: 0 0 0 1rem;
  }
  .header {
    gap: 2rem;
  }
}
