.button {
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.styledbox {
  border: 2px solid var(--neutral-1);
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
}

.title {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
  padding: 0rem 2.5rem;
}

.companytokens {
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -2.8rem;

  min-width: fit-content;
}

.header {
  display: grid;
  grid-template-columns: 1fr 112px 112px 2fr 24px;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--neutral-1);
  gap: 1.6rem;

  @media screen and (max-width: 1024px) {
    gap: 0.65rem;
  }

  @media screen and (max-width: 480px) {
    gap: 0rem;
  }
}

.header p {
  margin: 0;
}

.tokenformfield {
  position: relative;
}

.childClass {
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .styledbox {
    // margin: 0 1rem;
    // padding: 1.5rem;
  }

  .childClass {
    padding: 0;
  }

  .title {
    margin-bottom: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
  }

  // .header {
  //   flex-direction: column;
  //   align-items: flex-start;
  //   gap: 0.5rem;
  // }

  // .header p {
  //   margin-left: 0 !important;
  // }

  .companytokens {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
    // margin: 0 0.5rem;
    // padding: 1rem;
  }

  .childClass {
    padding: 0;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}
