.paddedContainer {
  padding: 2.875rem 10rem;

  @media (max-width: 1024px) {
    padding: 2.875rem 2rem;
  }
}

.button {
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.styledbox {
  border: 2px solid var(--neutral-1);
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.75rem;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 0 2rem;
  }
}

.companytokens {
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -2.8rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
  gap: 7.5rem;
  border-bottom: 2px solid var(--neutral-1);
}

.tokenContainer {
  display: flex;
  flex-direction: row;
}

.header p {
  margin: 0;
}

.header p:nth-child(1) {
  text-align: left;
}

.header p:nth-child(2) {
  text-align: left;
  margin-left: 3rem;
}

.header p:nth-child(3) {
  text-align: left;
  margin-left: 13rem;
}

.tokenformfield {
  position: relative;
}

@media screen and (max-width: 768px) {
  .styledbox {
    margin: 0 1rem;
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
    margin: 0 0.5rem;
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
