.paddedContainer {
  padding: 2.875rem 10rem;

  @media (max-width: 1024px) {
    padding: 2.875rem 2rem;
  }
}

.button {
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.styledbox {
  border: 2px solid var(--neutral-1);
  max-width: 85%;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.75rem;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 0 2rem;
  }

  @media (max-width: 480px) {
    padding: 0 0.75rem;
  }
}

.companytokens {
  display: flex;
  flex-direction: column;
  min-width: 817px;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -2.8rem;
}

.header {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--neutral-1);
}

.tokenformfield {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 60px 110px 12rem 1fr 80px;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .styledbox {
    margin: 0 1rem;
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
    margin: 0 0.5rem;
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.generateButtonWrapper {
  display: flex;
  width: fit-content;
  border-radius: 30px;
  overflow: hidden;
}

.buttonLeft {
  border-radius: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.buttonLeft,
.buttonRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2rem;
  border-radius: 0;
  transition: background-color 0.3s ease;

  &.buttonLeft {
    border-right: 2px solid var(--neutral-1);
  }
}
