.paddedContainer {
  padding: 2.875rem 10rem;

  @media (max-width: 1024px) {
    padding: 2.875rem 2rem;
  }
}

.styledbox {
  border: 2px solid var(--neutral-1);
  max-width: 85%;
  overflow-x: scroll;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.75rem;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 0 2rem;
  }

  @media (max-width: 480px) {
    padding: 0 0.75rem;
  }
}

.companytokens {
  display: flex;
  flex-direction: column;
  min-width: 817px;
  margin-left: -3rem;
  margin-right: -3rem;
  margin-top: -2.8rem;
}

.header {
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--neutral-1);
}

.tokenformfield {
  position: relative;
}

.row {
  display: grid;
  grid-template-columns: 60px 110px 12rem 1fr 80px;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .styledbox {
    margin: 0 1rem;
    padding: 1.5rem;
  }

  .title {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .styledbox {
    margin: 0 0.5rem;
    padding: 1rem;
  }

  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.generateButtonWrapper {
  display: flex;
  width: fit-content;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
}

.buttonLeft {
  text-align: center;
  justify-content: center;
  // display: flex;
  gap: 1rem;
}

.buttonLeft,
.buttonRight {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.875rem 2rem;
  border-radius: 0px;
  transition: background-color 0.3s ease;

  &.buttonLeft {
    border-right: 2px solid var(--neutral-1);
  }
}

@media screen and (max-width: 840px) {
  .generateButtonWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: none;
  }

  .buttonLeft,
  .buttonRight {
    display: flex;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  }
}

@media screen and (max-width: 480px) {
  .generateButtonWrapper {
    gap: 8px;
  }

  .buttonLeft,
  .buttonRight {
    display: flex;
    padding: 0.6rem 1.25rem;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  }
}

//pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;

  @media screen and (max-width: 480px) {
    padding: 1rem 2rem;
  }
}

.paginationButton {
  background-color: var(--black); // Change to your preferred color
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.active {
    background-color: var(--black); // Active page color
    font-weight: bold;
  }

  &.disabled {
    background-color: #ccc; // Disable color
    cursor: not-allowed;
    pointer-events: none; // Prevent click
  }

  &:focus {
    outline: none; // Remove default focus outline
  }
}
