.styledbox {
  background-color: var(--neutral-0);
  // border: 3px solid var(--black);
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  border-radius: 10px !important;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  margin-bottom: 2rem;
  text-align: center;
}

.subtitle {
  margin-bottom: 0.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--black);
}

.paragraph {
  margin-bottom: 0.75rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1366px) {
  .title {
    font-size: 2.1rem;
  }

  .subtitle {
    font-size: 1.65rem;
  }

  .paragraph {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.55rem;
  }

  .paragraph {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1.35rem;
  }

  .paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.15rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }
}
