.rootContainer {
  max-width: 720px;
}

.documentPlaceholder {
  width: 100%;
  // aspect-ratio: 8.5/11;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--neutral-0);
  border-radius: 30px;
}

.remarksHeading {
  margin-top: 70px;
  margin-bottom: 1.25rem;
}

.textarea {
  width: 100%;
  resize: vertical;
  border-radius: 6px;
  border: 1px solid var(--neutral-1);
  color: var(--black);

  padding: 14px 22px;

  margin-bottom: 1.25rem;

  &::placeholder {
    color: var(--muted-text-color);
  }
}

.rootContainer > button {
  margin-bottom: 6rem;
  margin-left: auto;
}
