@import "/node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --yellow-0: #fffae3;
  --yellow-1: #fff2ce;
  --yellow-2: #fde49e;
  --yellow-3: #fcd56a;
  --yellow-4: #fbc93e;
  --yellow-5: #fac123;
  --yellow-6: #fabd13;
  --yellow-7: #dea605; /* primary yellow */
  --yellow-8: #c59300;
  --yellow-9: #ab7f00;

  --blue-0: #ecf0ff;
  --blue-1: #d6dcfc;
  --blue-2: #abb6f1;
  --blue-3: #7c8de8;
  --blue-4: #556be0;
  --blue-5: #3c55db;
  --blue-6: #2e4ada; /* secondary blue */
  --blue-7: #203cc2;
  --blue-8: #1835ae;
  --blue-9: #0a2d9a;

  --green-0: #e5feee;
  --green-1: #d2f9e0;
  --green-2: #a8f1c0;
  --green-3: #7aea9f;
  --green-4: #53e383;
  --green-5: #3bdf70;
  --green-6: #2bdd66;
  --green-7: #1ac455;
  --green-8: #0caf49;
  --green-9: #00963c;

  --red-0: #ffe9e9;
  --red-1: #ffd1d1;
  --red-2: #fba0a1;
  --red-3: #f76d6d;
  --red-4: #f34141;
  --red-5: #f22625;
  --red-6: #f21616;
  --red-7: #d8070b;
  --red-8: #c10008;
  --red-9: #a90003;

  --blue-0: #e5f4ff;
  --blue-1: #cde2ff;
  --blue-2: #9bc2ff;
  --blue-3: #64a0ff;
  --blue-4: #3984fe;
  --blue-5: #1d72fe;
  --blue-6: #0969ff;
  --blue-7: #0058e4;
  --blue-8: #004ecc;
  --blue-9: #0043b5;

  --white: #ffffff;
  --neutral-0: #f5f5f5;
  --neutral-1: #e7e7e7;
  --neutral-2: #cdcdcd;
  --neutral-3: #b2b2b2;
  --neutral-4: #9a9a9a;
  --neutral-5: #8b8b8b;
  --neutral-6: #848484;
  --neutral-7: #717171;
  --neutral-8: #656565;
  --neutral-9: #575757;
  --black: hsl(0, 0%, 16%);
  --muted-black: hsl(0, 0%, 60%);

  --primary-color: var(--yellow-7);
  --secondary-color: var(--blue-6);

  --dark-text-color: var(--neutral-9);
  --light-text-color: var(--white);
  --muted-text-color: var(--neutral-4);
  --bg-color: var(--white);

  --xl-width: 1440px;
  --l-width: 1024px;
  --md-width: 768px;
  --sm-width: 640px;
  --xs-width: 480px;
}

/* *,
::before,
::after {
  margin: 0;
  padding: 0;
} */

body {
  color: var(--dark-text-color);
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Headings set to Montserrat */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

*:focus-visible {
  outline: 3px solid var(--blue-4);
  outline-offset: 1px;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

/* para wala yung button sa form na for numbers up and down */
input[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.45rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.15rem;
  }

  h6 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  label {
    font-size: 0.8rem;
  }
}
