.button {
  display: block;

  color: var(--white);
  padding: 0.875rem 1.75rem;
  font-weight: 600;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  min-width: fit-content;
}

.primary {
  background-color: var(--primary-color);
  // color: var(--black);

  &:hover {
    background-color: var(--yellow-8);
  }

  &:active {
    background-color: var(--yellow-9);
  }
}

.secondary {
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--blue-8);
  }

  &:active {
    background-color: var(--blue-9);
  }
}

.smRounded {
  border-radius: 0.25rem;
}

.rounded {
  border-radius: 99rem;
}

@media screen and (max-width: 768px) {
  .button {
    padding: 0.625rem 1.25rem;
  }
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .button {
    font-size: 0.8rem;
  }
}
