.paddedContainer {
  padding: 1rem 2.875rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.companyDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.descriptionHeader {
  display: flex;
  flex-direction: row;
  gap: 15px;

  p {
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
  }
}

.description {
  padding: 0rem 0rem 2rem 0rem;
}

.styledBox {
  background-color: var(--neutral-0);
  padding: 1.5rem 2rem;
  border-radius: 20px;
  width: 50%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formTitle {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  gap: 15px;
}

.formField {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 999px;
  border: 1.5px solid var(--muted-black);
  color: var(--black);
}

.iconButton {
  transition: 0.3s;

  &:hover {
    color: var(--blue-6);
  }
}
