.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  width: 90%;
  max-width: 1050px;
  text-align: left;
  max-height: 90vh;
  overflow-y: auto;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.label {
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
}

.input,
.textarea {
  padding: 0.75rem;
  border: 1px solid var(--neutral-2);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.textarea {
  height: 100px;
  resize: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancelButton,
.submitButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancelButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--neutral-8);
  }
}

.submitButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--blue-6);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--blue-8);
  }
}

.addButton {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 200px;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: var(--blue-6);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);

  &:hover {
    background-color: var(--blue-8);
  }
}

.separator {
  height: 1px;
  background-color: var(--muted-black);
  margin: 2rem 0rem;
}

.fieldGroup {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
}

.removeButton {
  padding: 0.7rem 1.2rem;
  border: 1px solid var(--neutral-2);
  border-radius: 10px;
  background-color: var(--white);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--neutral-4);
  }
}
