.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  width: 90%;
  max-width: 800px;
  text-align: left;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.label {
  color: var(--black);
  font-size: 1rem;
  font-weight: bold;
}

.input, .textarea {
  padding: 0.75rem;
  border: 1px solid var(--black);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
}

.textarea {
  height: 450px;
  resize: none;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.cancelButton, .submitButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.cancelButton {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--neutral-4);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  
    &:hover {
      background-color: var(--neutral-6);
    }
}

.submitButton {
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 10px;
    background-color: var(--blue-6);
    color: white;
    cursor: pointer;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.285);
  
    &:hover {
      background-color: var(--blue-8);
    }
} 

.separator {
    height: 1px;
    background-color: var(--muted-black);
    margin: 2rem 0rem;
  }