.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.25rem;
  background-color: var(--black);
  color: var(--neutral-0) !important;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columns
    grid-template-rows: repeat(2, auto); // 2 rows
    gap: 3rem;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
  }
}

.h4 {
  color: var(--neutral-0) !important;
  margin-bottom: 0.75rem;
}

.leftContainer {
  width: 25%;
  padding: 0 4rem 0 0;

  p {
    font-size: 12px;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.imageHolder {
  width: 40px;
  padding: 0 0 0.25rem 0;
}

.middleLeftContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0 0 0 5rem;

  .ul {
    font-size: 14px;
  }

  @media screen and (max-width: 1500px) {
    padding: 0rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
  }
}

.middleRightContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0 5rem 0 0;

  p {
    font-size: 14px;
  }

  @media screen and (max-width: 1500px) {
    padding: 0rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.iconEmailContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 0.6rem;

  padding: 0 2rem 0 0;

  p {
    font-size: 12px;
  }

  @media screen and (max-width: 1500px) {
    padding: 0 0 0 2rem;
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    padding: 0;
  }
}

.border {
  border: 1px solid var(--muted-black);
}

.underneathContainer {
  padding: 1rem;
  align-items: center;
  text-align: center;
  background-color: var(--black);

  p {
    font-size: 12px;
    color: var(--neutral-0) !important;

    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
}

.ul {
  list-style: none; /* Removes the bullet point */
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

.ul:hover {
  font-weight: 600;
}

.links {
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits the parent text color */
  margin: 0;
  padding: 0;
}
