.paddedContainer {
  padding: 1.5rem 2rem;
}

.container {
  background-color: var(--neutral-0);
  color: black;
  border-bottom: 1px solid var(--black);
}

.notificationDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header {
  font-size: 18px;
  font-weight: 600;
}

.description {
  padding: 1rem 3rem;
}

@media screen and (max-width: 768px) {
  .container {
    border-radius: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    border-radius: 0.75rem;
  }
}
